html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    font-family: 'Merriweather', serif;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

body {
    position: relative;
    height: 100vh;
}

.wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
}

.chat_bot {
    position: relative;
    width: 350px;
    min-height: 450px;
    border: 2px solid teal;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    padding-top: 5px;
    border-radius: 10px;
}

.main_block-chat {
    position: absolute;
    bottom: 0;
    border-top: 2px solid teal;
    width: 350px;
}

.block_input {
    margin-top: 10px;
    height: 375px;
    border-top: 1px solid teal;
    border-bottom: 1px solid teal;
}

.main_punkt {
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
}

.main_element {
    border: 1px solid teal;
    border-radius: 5%;
    padding: 5px;
    background-color: rgb(6, 159, 159);
}

.block_text-help {
    margin-top: 50px;
    width: 340px;
    padding: 5px;
    border-top: 2px solid teal;
    height: 250px;
}

.block_event {
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
}

.btn_chat {
    background-image: linear-gradient(to right, #9EEFE1 0%, #4830F0 51%, #9EEFE1 100%);
    font-size: 16px;
    padding: 2px;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

.input_chat-bot {
    height: 20px;
    border: 2px solid teal;
    border-radius: 5px;
}